$title-font: 'Lato', sans-serif;
$reg-font: 'Source Code Pro', monospace;
$section-sep: 20px;
$border: 2px solid black;

body {
	margin: 0;
	padding: 0 1.5% 0 3%;
}

h1, h2, h3, h4 {
	font-family: $title-font;
	margin: 0 0 0 0;
}

.center {
	text-align: center;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 2em;
}

p {
	font-family: $title-font;
}

code {
	font-family: 'Fira Mono', monospace;
}
.navhome {
	font-family: $title-font;
	font-size: 1.5em;
	color: #000;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
#contact {
	color: #6d6d6d;
	font-size: 1.5em;
	margin: $section-sep 0 0 0;
	padding: 0;
	list-style-type: none;
	li {
		i {
			min-width: 32px;
		}
	}
	a {
		color: #6d6d6d;
		text-decoration: none;
      	&:hover { text-decoration: underline; }
	}
	p {
		display: inline;
		font-family: $title-font;
	}
}

#content {
	margin: $section-sep 0 $section-sep 0;
	float: left;
	padding: 0 0 0 10%;
	max-width: 60%;
}

#header {
	float: left;
}


#etc {
	padding: $section-sep 0 0 0; // dunno why but margin doesn't work here
	clear: left;
}

.post {
	h1, h2, {
		margin-bottom: 0.42em;
	}
	h4, h5 {
		margin-bottom: 0.1em;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size: 1.5em;
		margin-bottom: 0.21em;
	}
	h4 {
		font-size: 1.25em;
	}
	h5 {
		font-size: 1em;
	}
	em {
		font-family: $title-font;
		font-weight: 400;
	}
	p {
		font-size: 110%;
		line-height: 1.38;
		margin-top: 0;
	}
	img {
		max-width: 100%;
		// centering
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	padding-bottom: $section-sep * 2;
	.head, .head-full {
		text-decoration: none;
		color: #000;
		.categories {
			font-size: 1em;
			color: #6d6d6d;
			padding-top: 0.5em;
		}
	}

	.head div, .head-full {
			padding: $section-sep;
			border: $border;
			margin-bottom: 1em;
	}
	.head div:hover {
		border: 2px dashed black;
	}
	.date {
		font-family: $title-font;
		color: #6d6d6d;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.cont {
		font-family: $title-font;
		color: #000;
		font-weight: 700;
		text-decoration-style: none;
		text-decoration: underline;
	}
}

.pager {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	li {
		display: flex;
		flex: 1;
		list-style: none;
		* {
			font-family: $title-font;
			font-weight: 700;
			font-size: 1.5em;
			color: #000;
			text-decoration: none;
			margin: 0;
		}
	}
	.previous, .next { &:hover { text-decoration: underline; } }
	.previous { justify-content: flex-start; }
	.next { justify-content: flex-end; }
	.trailnums {
		justify-content: center;
		ul {
			padding: 0;
			li {
				float: left;
				a {
					div {
						font-size: 0.34em;
						padding: 0 0.34em;
						margin-right: 0.2em;
						border: $border;
						border-radius: 100%;
						&:hover {
							border: 2px dashed black;
						}
					}
				}
				.selected {
					background: #000;
					color: #fff;
				}
			}
		}
	}
}


#webring img {
	width: 2em;
	position: absolute;
	bottom: 0.3em;
	right: 0.3em;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);;
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);;
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#webring img:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

@media screen and (max-width: 1080px) {
	.header {
		float: default;
	}

	#content {
		padding: 0;
		margin-top: 0;
		max-width: 98.5%
	}

}

@media (max-width: 420px) {
	.pager {
		li * {
			font-size: 1.32em;
		}
		.trailnums ul li a div {
			font-size: 0.42em;
			border: 1px solid black;
		}
	}
}
