body {
  margin: 0;
  padding: 0 1.5% 0 3%; }

h1, h2, h3, h4 {
  font-family: "Lato", sans-serif;
  margin: 0 0 0 0; }

.center {
  text-align: center; }

h1 {
  font-size: 6em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 2em; }

p {
  font-family: "Lato", sans-serif; }

code {
  font-family: 'Fira Mono', monospace; }

.navhome {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  color: #000;
  text-decoration: none; }
  .navhome:hover {
    text-decoration: underline; }

#contact {
  color: #6d6d6d;
  font-size: 1.5em;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none; }
  #contact li i {
    min-width: 32px; }
  #contact a {
    color: #6d6d6d;
    text-decoration: none; }
    #contact a:hover {
      text-decoration: underline; }
  #contact p {
    display: inline;
    font-family: "Lato", sans-serif; }

#content {
  margin: 20px 0 20px 0;
  float: left;
  padding: 0 0 0 10%;
  max-width: 60%; }

#header {
  float: left; }

#etc {
  padding: 20px 0 0 0;
  clear: left; }

.post {
  padding-bottom: 40px; }
  .post h1, .post h2 {
    margin-bottom: 0.42em; }
  .post h4, .post h5 {
    margin-bottom: 0.1em; }
  .post h1 {
    font-size: 3em; }
  .post h2 {
    font-size: 2.25em; }
  .post h3 {
    font-size: 1.5em;
    margin-bottom: 0.21em; }
  .post h4 {
    font-size: 1.25em; }
  .post h5 {
    font-size: 1em; }
  .post em {
    font-family: "Lato", sans-serif;
    font-weight: 400; }
  .post p {
    font-size: 110%;
    line-height: 1.38;
    margin-top: 0; }
  .post img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .post .head, .post .head-full {
    text-decoration: none;
    color: #000; }
    .post .head .categories, .post .head-full .categories {
      font-size: 1em;
      color: #6d6d6d;
      padding-top: 0.5em; }
  .post .head div, .post .head-full {
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 1em; }
  .post .head div:hover {
    border: 2px dashed black; }
  .post .date {
    font-family: "Lato", sans-serif;
    color: #6d6d6d;
    text-decoration: none; }
    .post .date:hover {
      text-decoration: underline; }
  .post .cont {
    font-family: "Lato", sans-serif;
    color: #000;
    font-weight: 700;
    text-decoration-style: none;
    text-decoration: underline; }

.pager {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; }
  .pager li {
    display: flex;
    flex: 1;
    list-style: none; }
    .pager li * {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      color: #000;
      text-decoration: none;
      margin: 0; }
  .pager .previous:hover, .pager .next:hover {
    text-decoration: underline; }
  .pager .previous {
    justify-content: flex-start; }
  .pager .next {
    justify-content: flex-end; }
  .pager .trailnums {
    justify-content: center; }
    .pager .trailnums ul {
      padding: 0; }
      .pager .trailnums ul li {
        float: left; }
        .pager .trailnums ul li a div {
          font-size: 0.34em;
          padding: 0 0.34em;
          margin-right: 0.2em;
          border: 2px solid black;
          border-radius: 100%; }
          .pager .trailnums ul li a div:hover {
            border: 2px dashed black; }
        .pager .trailnums ul li .selected {
          background: #000;
          color: #fff; }

@media screen and (max-width: 1080px) {
  .header {
    float: default; }

  #content {
    padding: 0;
    margin-top: 0;
    max-width: 98.5%; } }
@media (max-width: 420px) {
  .pager li * {
    font-size: 1.32em; }
  .pager .trailnums ul li a div {
    font-size: 0.42em;
    border: 1px solid black; } }

/*# sourceMappingURL=style.css.map */
