.highlight {
  background-color: #fdf6e3;
  color: #586e75;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #93a1a1; }
  .highlight .err {
    color: #586e75; }
  .highlight .g {
    color: #586e75; }
  .highlight .k {
    color: #859900; }
  .highlight .l {
    color: #586e75; }
  .highlight .n {
    color: #586e75; }
  .highlight .o {
    color: #859900; }
  .highlight .x {
    color: #cb4b16; }
  .highlight .p {
    color: #586e75; }
  .highlight .cm {
    color: #93a1a1; }
  .highlight .cp {
    color: #859900; }
  .highlight .c1 {
    color: #93a1a1; }
  .highlight .cs {
    color: #859900; }
  .highlight .gd {
    color: #2aa198; }
  .highlight .ge {
    color: #586e75;
    font-style: italic; }
  .highlight .gr {
    color: #dc322f; }
  .highlight .gh {
    color: #cb4b16; }
  .highlight .gi {
    color: #859900; }
  .highlight .go {
    color: #586e75; }
  .highlight .gp {
    color: #586e75; }
  .highlight .gs {
    color: #586e75;
    font-weight: bold; }
  .highlight .gu {
    color: #cb4b16; }
  .highlight .gt {
    color: #586e75; }
  .highlight .kc {
    color: #cb4b16; }
  .highlight .kd {
    color: #268bd2; }
  .highlight .kn {
    color: #859900; }
  .highlight .kp {
    color: #859900; }
  .highlight .kr {
    color: #268bd2; }
  .highlight .kt {
    color: #dc322f; }
  .highlight .ld {
    color: #586e75; }
  .highlight .m {
    color: #2aa198; }
  .highlight .s {
    color: #2aa198; }
  .highlight .na {
    color: #586e75; }
  .highlight .nb {
    color: #B58900; }
  .highlight .nc {
    color: #268bd2; }
  .highlight .no {
    color: #cb4b16; }
  .highlight .nd {
    color: #268bd2; }
  .highlight .ni {
    color: #cb4b16; }
  .highlight .ne {
    color: #cb4b16; }
  .highlight .nf {
    color: #268bd2; }
  .highlight .nl {
    color: #586e75; }
  .highlight .nn {
    color: #586e75; }
  .highlight .nx {
    color: #586e75; }
  .highlight .py {
    color: #586e75; }
  .highlight .nt {
    color: #268bd2; }
  .highlight .nv {
    color: #268bd2; }
  .highlight .ow {
    color: #859900; }
  .highlight .w {
    color: #586e75; }
  .highlight .mf {
    color: #2aa198; }
  .highlight .mh {
    color: #2aa198; }
  .highlight .mi {
    color: #2aa198; }
  .highlight .mo {
    color: #2aa198; }
  .highlight .sb {
    color: #93a1a1; }
  .highlight .sc {
    color: #2aa198; }
  .highlight .sd {
    color: #586e75; }
  .highlight .s2 {
    color: #2aa198; }
  .highlight .se {
    color: #cb4b16; }
  .highlight .sh {
    color: #586e75; }
  .highlight .si {
    color: #2aa198; }
  .highlight .sx {
    color: #2aa198; }
  .highlight .sr {
    color: #dc322f; }
  .highlight .s1 {
    color: #2aa198; }
  .highlight .ss {
    color: #2aa198; }
  .highlight .bp {
    color: #268bd2; }
  .highlight .vc {
    color: #268bd2; }
  .highlight .vg {
    color: #268bd2; }
  .highlight .vi {
    color: #268bd2; }
  .highlight .il {
    color: #2aa198; }

/*# sourceMappingURL=syntax.css.map */
