<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Alex Zhang's blog</title>

	<style>
		/* lato-regular - latin */
		@font-face {
		  font-family: 'Lato';
		  font-style: normal;
		  font-weight: 400;
		  src: url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.eot'); /* IE9 Compat Modes */
		  src: local('Lato Regular'), local('Lato-Regular'),
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
		}

		/* lato-italic - latin */
		@font-face {
		  font-family: 'Lato';
		  font-style: italic;
		  font-weight: 400;
		  src: url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.eot'); /* IE9 Compat Modes */
		  src: local('Lato Italic'), local('Lato-Italic'),
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
		}

		/* lato-700 - latin */
		@font-face {
		  font-family: 'Lato';
		  font-style: normal;
		  font-weight: 700;
		  src: url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
		  src: local('Lato Bold'), local('Lato-Bold'),
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
		}

		/* lato-700italic - latin */
		@font-face {
		  font-family: 'Lato';
		  font-style: italic;
		  font-weight: 700;
		  src: url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.eot'); /* IE9 Compat Modes */
		  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
			   url('{{ site.baseurl }}/fonts/lato-v14-latin/lato-v14-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
		}

		/* fira-mono-regular - latin */
		@font-face {
		font-family: 'Fira Mono';
		font-style: normal;
		font-weight: 400;
		src: url('{{ site.baseurl }}/fonts/fira-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
		src: local('Fira Mono Regular'), local('FiraMono-Regular'),
			url('{{ site.baseurl }}/fonts/fira-mono-v6-latin/fira-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('{{ site.baseurl }}/fonts/fira-mono-v6-latin/fira-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('{{ site.baseurl }}/fonts/fira-mono-v6-latin/fira-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
			url('{{ site.baseurl }}/fonts/fira-mono-v6-latin/fira-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			url('{{ site.baseurl }}/fonts/fira-mono-v6-latin/fira-mono-v6-latin-regular.svg#FiraMono') format('svg'); /* Legacy iOS */
		}

	</style>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fontawesome-free-5.1.0-web/css/fontawesome.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fontawesome-free-5.1.0-web/css/brands.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fontawesome-free-5.1.0-web/css/regular.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/fonts/fontawesome-free-5.1.0-web/css/solid.css">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}//favicon.ico?">
</head>

<body>
	<div id="bg">
		<div id="header">
			<h1>alex<br>zhang</h1>
			<ul id="contact">
				<li><a href="mailto:alex@zyzhang.me"><i class="far fa-envelope" aria-hidden="true"></i><p>&#097;&#108;&#101;&#120;&#064;&#122;&#121;&#122;&#104;&#097;&#110;&#103;&#046;&#109;&#101;</p>
					</a></li>
				<li><a href="https://github.com/azh"><i class="fab fa-github" aria-hidden="true"></i><p>azh</p>
					</a></li>
				<li><a href="https://keybase.io/azh"><i class="fab fa-keybase" aria-hidden="true"></i><p>azh</p>
					</a></li>
			</ul>
			<br>
			<a href="/" class="navhome">↜ my homepage</a>
			<br>
			<ul id="contact">
				<li>
					<a style="color: #000" href="{{ site.baseurl }}/feed.xml">
						<i class="fas fa-rss" aria-hidden="true"></i><p>post feed</p>
					</a>
				</li>
				<li>
					<a style="color: #000" href="/feed.xml">
						<i class="fas fa-archive" aria-hidden="true"></i><p>archive</p>
					</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div id="content">