{% include header.html %}
{{ content }}
{% for post in paginator.posts %}
<div class="post">
    <a class="head" href="{{ post.url | relative_url }}">
        <div>
            <h3 class="title">{{ post.title }}</h3>
            <h4 class="categories"><i class="far fa-folder-open"></i>  <em>{{ post.categories | array_to_sentence_string }}</em></h4>
        </div>
    </a>
    {{ post.excerpt }}
    {% if post.tags contains "long" %}
    <h4><a class="cont" href="{{ post.url | relative_url }}">Continue...</a></h4>
    <br>
    {% endif %}
    <i><a class="date" href="{{ post.url | relative_url }}">{{ post.date | date: '%B %d, %Y' }}</a></i>
</div>
{% endfor %}

<!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    <li class="previous">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; newer</a>
    {% else %}
        <p></p>
    {% endif %}
    </li>
    <li class="trailnums">
    {% if paginator.page_trail %}
        <ul>
        {% for trail in paginator.page_trail %}
            <li>
                <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">
                    <div {% if page.url == trail.path %}class="selected"{% endif %}>{{ trail.num }}</div>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
    <li class="next">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">older &rarr;</a>
    {% else %}
        <p></p>
    {% endif %}
    </li>
</ul>
{% endif %}
{% include footer.html %}