{% include header.html %}
<div class="post">
    <div class="head-full">
        <h3 class="title">{{ page.title }}</h3>
        <h4 class="categories"><i class="far fa-folder-open"></i>  <em>{{ page.categories | array_to_sentence_string }}</em></h4>
    </div>
    {{ content }}
    <i class="date">{{ page.date | date: '%B %d, %Y' }}</i>
</div>
{% include footer.html %}